.menuToggle {

  position: relative;
  z-index: 2000;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 44px;
  height: 44px;
  -webkit-tap-highlight-color: transparent;

  cursor: pointer;

  border: none;
  border-radius: $radius1;
  background: none;
  transition: background-color 0.1s ease-in tranform 12s ease;

  @media (min-width: $lg) {

    display: none;
  }

  &.open {
    transform: rotate(180deg);
  }

  &:active {
    -webkit-tap-highlight-color: transparent;
  }


  &:hover {
    border-radius: 100%;
    transition: background-color 0.1s ease-in tranform 12s ease;

    -webkit-tap-highlight-color: transparent;

    >.toggleIcon {
      background-color: rgba(var(--code-blue));
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in tranform 12s ease;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }





  }
}

.toggleIcon {
  width: 15px;
  height: 3px;
  position: absolute;

  transition: all 0.3s ease;
  transform-origin: center;

  opacity: 1;
  border-radius: 2px;
  background-color: rgb($codeTextPri);

  &:first-child {
    top: 15px;
    left: 9px;


    &.open {
      transform: rotate(45deg);
    }
  }

  &:nth-child(2) {
    top: 15px;
    right: 9px;

    &.open {
      transform: rotate(-45deg);
    }
  }

  &:nth-child(3) {
    bottom: 15px;
    left: 9px;


    &.open {
      transform: rotate(-45deg);
    }
  }

  &:last-child {
    bottom: 15px;
    right: 9px;

    &.open {
      transform: rotate(45deg);
    }
  }
}

.menuToggle.round {
transform: rotate(180deg);}