.timelineItem
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    @include gapSmall;
    z-index:1;
    @media (min-width: $sm)
        {
        grid-template-columns: auto 1fr;
    &:only-child {
        grid-template-columns:auto 1fr;}
    
    &:not(:last-child)::before
    {
        position: absolute;
        top: 0px;
        bottom: -$space5;
        left: 60px;
        z-index:0;
        width: 2px;

        content: '';
            display: block;

        background-color: rgb($codeTextSec);
        @media (min-width: $sm)
        {
                bottom: -$space2n5;

            display: block;
            
        }

     
}}

.timelinePeriod
{
    font-size: $fs16;
    font-weight: $fw6;

    min-width: 120px;
    height: fit-content;
    padding: $space0n5 $space1;

    text-align: center;
    white-space: nowrap;
    z-index:2;
    color: rgb($codeBgPri);
    border-radius: $radius1 / 2;
    background-color: rgb($codeBlue);

    @media (max-width: $sm)
    {
        width: auto;
        min-width: auto;
    }
}

.timelineContent
{
    padding-top: $space0n25;
   
}

.timelineTitle
{
    font-size: $fs1;
    font-weight: $fw6;
    line-height: $tightH;


    color: rgb($codeTextPri);
}
.timelineSubtitle {
  font-size: $fs1;
    font-weight: $fw6;
    line-height: $tightH;


    color: rgb($codeBlue);
}

.institution
{
    font-size: $fs16;
    font-weight: $fw6;
padding-bottom: $space0n5;

    color: rgb($codeTextPri);
}

.timelineDescription
{
    font-size: $fs16;
    line-height: $baseH;

    margin-bottom: $space1;

    color: rgb($codeTextPri);
}

.timelineMetrics
{
    display: flex;
    flex-wrap: wrap;

    margin-bottom: $space1;

    gap: $space1;
}

.metric
{
    font-size: $fs16;
    font-weight: $fw6;

    padding: $space0n25 $space0n75;

    color: rgb($codeBlue);
    border-radius: $radius1 /2 ;
    background-color: rgba($codeBlue, .1);
}

.taskList
{
    margin: 0;
    padding: 0;

    list-style: none;
        padding-bottom: $space0n5;

    li
    {
        font-size: $fs16;
        line-height: $baseH;

        position: relative;

        padding-left: $space1n5;

        color: rgb($codeTextPri);

        &::before
        {
            font-weight: bold;

            position: absolute;
            left: 0;

            content: '▸';

            color: rgb($codeBlue);
        }

        &:last-child
        {
            margin-bottom: 0;
        }
    }}}