
.heroContent
{
    height: fit-content;
    width: $space100;

    text-align: center;

    @media (min-width: $lg)
    {
        text-align: left;
    }
}

.socialLinks {
    display: flex;
    justify-content: center;

    @include gapSmall;

    @media (min-width: $lg) {
        justify-content: flex-start;
    }
}