
.statNumber
{
    font-size: $fs4;
    font-weight: $fw7;
    line-height: $tightH;

    color: rgb($codeBlue);

}

.statLabel
{
    font-size: $fs16;
    font-weight: $fw5;


    color: rgb($codeTextPri);
}

